.hero{
    background:
        linear-gradient(rgba(7,19,24,.78), rgba(7,19,24,.88)),
        url("../media/homepage/hero-map.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
